<ion-header> </ion-header>

<ion-content>
  <div class="container">
    <div class="texte">
      <div class="logo">
        <ion-icon color="light" name="contact"></ion-icon>
        <img src="assets/image/logo.png" />
      </div>

      <legend>Bienvenu sur TouristMali.</legend>

      <h4>Découvrir le Mali et ses régions.</h4>
    </div>
    
    
       <!--  <ion-card>
      <div>
        <h4 class="colordutexte">Connexion</h4>
        <h4 class="sanscolor">Inscription</h4>
      </div>

     </ion-card> <div class="mb-3 form-row form-floating">
        <div class="form">
          <input
            type="email"
            name="email"
            id="email"
            placeholder="email"
            class="form form-control inputvalue"
          />
          <label for="email">Email</label>

          <div class="mb-3 form-row form-floating">
            <input
              type="password"
              name="password"
              id="password"
              placeholder="numéro de téléphone  *"
              class="form form-control inputvalue"
            />
            <label for="password">Mots de passe *</label>
            <input
              type="password"
              name="password"
              id="password"
              placeholder="Mots de passe *"
              class="form form-control inputvalue"
            />
            <label for="password">Mots de passe *</label>
            <input
              type="password"
              name="password"
              id="password"
              placeholder=" Confirme le Mots de passe "
              class="form form-control inputvalue"
            />
            <label for="password">Mots de passe *</label>
          </div>
        </div>
      </div>

      <ion-button color="tertiary" expand="block" shape="round"
        >Connexion</ion-button
      >
   </ion-card>--> 
  </div>
</ion-content>
