ion-content {
  --ion-background-color: linear-gradient(#f5af19, #f12711);
}
.texte {
  text-align: center;
}
.logo ion-icon {
  font-size: 9em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
