<div class="color">
  <div class="header-blue">
    <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
      <div class="container">
        <a class="navbar-brand">TouristMali</a
        ><button
          class="navbar-toggler"
          data-toggle="collapse"
          data-target="#navcol-1"
        >
          <span class="sr-only"></span><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="nav navbar-nav">
            <li class="nav-item" role="presentation">
              <a routerLink="/accueil" class="nav-link active" routerLink
                >Accueil</a
              >
            </li>
            <li class="dropdown">
              <a
                class="dropdown-toggle nav-link dropdown-toggle"
                data-toggle="dropdown"
                aria-expanded="false"
                href="#"
                >Régions
              </a>
              <div class="dropdown-menu" role="menu">
                <a
                  routerLink="/accueil"
                  class="dropdown-item"
                  role="presentation"
                  >Détails régions</a
                ><a class="dropdown-item" role="presentation" href="#"
                  >Populations</a
                ><a class="dropdown-item" role="presentation" href="#">pays</a>
              </div>
            </li>
          </ul>
          <form class="form-inline mr-auto" target="_self">
            <div class="form-group">
              <label for="search-field"><i class="fa fa-search"></i></label
              ><input
                class="form-control search-field"
                type="search"
                name="search"
                id="search-field"
              />
            </div>
          </form>
          <div class="gauche">
         
            <a
            routerLink="/connexion"
            class="btn btn-light action-button"
            role="button"
            href="#"
            >Connexion</a
          >
          </div>
          <a
            routerLink="/connexion"
            class="btn btn-light action-button"
            role="button"
            href="#"
            >Inscription</a
          >
        </div>
      </div>
    </nav>
  </div>
</div>
