.header-blue {
  
  

  padding-bottom: 10px;
  font-family: "Source Sans Pro", sans-serif;
  height: 10%;
    background: url("/assets/image/Header2.jpg") no-repeat
    center center / cover;
color : #000;
}
.header-blue{
  color : #000;
}
.container{ --background: rgba(0, 0, 0, 0.74) url("/assets/image/mali.jpg") 

}
.color{
  color: #000;
}

 @media (min-width: 768px) {
  .header-blue {
    padding-bottom: 120px;
  }
}

.header-blue .navbar {
  background: transparent;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #000;
  border-radius: 0;
  box-shadow: none;
  border: none;}

.header-blue .navbar .form-inline .search-field {
  display: inline-block;
  width: 80%;
  background: none;
  border: none;
  border-bottom: 1px solid transparent;
  border-radius: 0;
  color: #000;
  box-shadow: none;
  color: inherit;
  transition: border-bottom-color 0.3s;
}

.header-blue .navbar .form-inline .search-field:focus {
  border-bottom: 1px solid #000;
}
.gauche{


  margin-right: 15%;
}

