<ion-header> </ion-header>

<ion-content>
  <div class="texte">
    <div class="logo">
      <ion-icon color="light" name="contact"></ion-icon>
      <img src="../../assets/image/.webp" />
    </div>
    <h4>Bienvenu sur TouristMali.</h4>
    <h4>Découvrir le Mali et ses régions.</h4>
  </div>
<ion-card> 
  <div> <h4 class="colordutexte">Connexion</h4>
  <h4 class="sanscolor"> Inscription</h4>
  </div>
  <ion-item>
    <ion-label color="light">Email</ion-label>
    <ion-input
      color="light"
      type="mail"
      placeholder="Adresse email"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="light">Mot de passe</ion-label>
    <ion-input
      color="light"
      type="password"
      placeholder="Mot de passe"
    ></ion-input>
  </ion-item>

  <ion-button color="light" shape="round" fill="outline">Connexion</ion-button>
  <br />
  <ion-button color="tertiary" expand="block" shape="round"
    >Inscription</ion-button
  >
  </ion-card>
</ion-content>
