<ion-header [translucent]="true"> </ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card class="img">
    <div class="Accueil">
      <h1>Bienvenu sur TouristMali.</h1>
      <h3>Découvrir le Mali et ses régions.</h3>
    </div>
  </ion-card>
  <div class="button">
    <ion-button color="warning">Connexion</ion-button>
    <ion-button color="warning">Inscription</ion-button>
  </div>
</ion-content>
