<ion-header [translucent]="true"> </ion-header>

<ion-content [fullscreen]="true">
    <!-- <app-mon-composant></app-mon-composant> -->

  <!-- template de la vue -->

  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header> -->

  <h1 class="home__title">
    Bonjour et bienvenue dans notre application de suivi des actualités <br />
    et des activités de votre<strong class="color"> région </strong> !
  </h1>

  <h3 class="title">
    Que vous soyez à la recherche de nouvelles sur votre
    <strong class="color">régions</strong><br />
    ou que vous cherchiez à découvrir de nouvelles informations, nous avons tout
    ce qu'il vous faut.
  </h3>

  <ion-card class="img">
    <div class="Accueil">
      <h1>Bootstrap Carousel with Title Text and Description</h1>
      <h1>Bienvenu sur TouristMali.</h1>
      <h3>Découvrir le Mali et ses régions.</h3>
    </div>
  </ion-card>

  <div class="button">
    <ion-button color="warning">Connexion</ion-button>
    <ion-button color="warning">Inscription</ion-button>
  </div>
</ion-content>
