
ion-content {
    --background: #FFFFFF
  }
  

 


   
/* card du header */         
.home__title {
    margin-top: 5%;
    text-align: center;
    
    margin-bottom: 4%;
top: 40%;
 

  }

  .title {
   
    text-align: center;
    margin-bottom: 6%;
    font-family: 'Kaushan Script', cursive;
    font-size: 2rem;
    
    color: #000;;
    font-style: italic;
   
  }
  .color{
   color:  #FF0000;
  }
body{
    margin-top:20px;
    background:#FAFAFA;
}
.order-card {
    color: #fff;
}

.bg-c-blue {
    background-color: #000; 
}

.bg-c-green {
    background-color: #000; 


   ;
}

.bg-c-yellow {
   background-color: #000; ;
}

.bg-c-pink {
   background-color: #000; 
}


.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card .card-block {
    padding: 25px;
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}