<ion-content [fullscreen]="true">
  <div><app-mon-composant></app-mon-composant></div>
  <h1 class="home__title">
    Bonjour et bienvenue dans notre application de suivi des actualités <br />
    et des activités de votre<strong class="color"> région </strong> !
  </h1>

  <h4 class="title">
    Que vous soyez à la recherche de nouvelles sur votre
    <strong class="color">régions</strong><br />
    ou que vous cherchiez à découvrir de nouvelles informations, nous avons tout
    ce qu'il vous faut.
  </h4>

  <section id="gallery">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 mb-4">
          <div class="card">
            <img src="assets/image/se.png" alt="" class="card-img-top" />
            <div class="card-body">
              <h5 class="card-title">Mopti</h5>
              <p class="card-text">
                Mopti est une ville du Mali située dans le centre du pays, sur
                les rives du fleuve Niger. C'est une région importante pour les
                activités commerciales et économiques du Mali, en raison de sa
                position stratégique sur les routes commerciales du Niger. 
              </p>
              <a href="" class="btn btn-outline-success btn-sm">Lire plus</a>
              <a href="" class="btn btn-outline-danger btn-sm"
                ><i class="far fa-heart"></i
              ></a>
              <a href="" class="btn btn-outline-danger btn-sm">
                <i class="far-solid fa-trash"></i
              ></a>
              <a href="" class="btn btn-outline-danger btn-sm"
                ><i class="fas fa-comment"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card">
            <img
               src="assets/image/kay 1.png" 
              alt=""
              class="card-img-top"
            />
            <div class="card-body">
              <h5 class="card-title">Kayes</h5>
              <p class="card-text">
                Kayes est une région du Mali, située dans le nord-ouest du pays.
                Elle est bordée par la région de Koulikoro au sud, par la
                Mauritanie à l'ouest et par la Guinée au nord. La région de
                Kayes est célèbre pour ses nombreuses mines d'or et de bauxite.
          
              </p>
              <a href="" class="btn btn-outline-success btn-sm">lire plus</a>
              <a href="" class="btn btn-outline-danger btn-sm"
                ><i class="far fa-heart"></i
              ></a>
              <a href="" class="btn btn-outline-danger btn-sm">
                <i class="far-solid fa-trash"></i
              ></a>
              <a href="" class="btn btn-outline-danger btn-sm"
                ><i class="fas fa-comment"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card">
            <img src="assets/image/san.png"
              alt=""
              class="card-img-top"
            />
            <div class="card-body">
              <h5 class="card-title">Ségou</h5>
              <p class="card-text">
                Ségou est une région du Mali, située dans le nord-ouest du pays.
                Elle est bordée par la région de Koulikoro au sud et par la
                Mauritanie à l'ouest. La région de Sékou est connue pour ses
                cultures de mil, de riz et de manioc, ainsi que pour ses
                élevages de bétail
              </p>
              <a href="" class="btn btn-outline-success btn-sm">lire plus</a>
              <a href="" class="btn btn-outline-danger btn-sm"
                ><i class="far fa-heart"></i
              ></a>
              <a href="" class="btn btn-outline-danger btn-sm">
                <i class="far-solid fa-trash"></i
              ></a>
              <a href="" class="btn btn-outline-danger btn-sm"
                ><i class="fas fa-comment"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <link
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
    rel="stylesheet"
  />

  <!-- mali-carte avec du texte-->

  <ion-card class="ionCARD">
    <ion-grid [fixed]="true">
      <ion-row class="ion-align-items-center">
        <ion-col>
          <div class="column textediallo">
            <p>
              Pays à la nature sauvage, le Mali offre une faune et flore
              d'exception cohabitant harmonieusement avec des villages aux
              constructions traditionnelles. Des paysages naturels, souvent
              surréalistes qui subjuguent dès le premier regard. Visiter les
              régions du Mali c'est entrer dans un véritable havre de paix où il
              fait se ressourcer.
            </p>
          </div>
        </ion-col>
        <ion-col>
          <div class="column image">
            <img src="../../assets/image/ù.png" alt="mali-carte" />
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- card avec les chiffre de la supperficie-->

  <div class="container">
    <div class="row">
      <div class="col-md-4 col-xl-3">
        <div class="card bg-c-blue order-card">
          <div class="card-block">
            <h1 class="m-b-20">Superficie</h1>
            <!-- <h2 class="text-right">
              <i class="fa fa-cart-plus f-left"></i><span>486</span>
            </h2> -->
              <a href="" class="btn btn-outline-danger btn-sm">
                <i class="fab-solid fab-chart-area"></i>
              </a>
            <p class="m-b-0">
          <span class="f-right">1,24 million km²</span>
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-xl-3">
        <div class="card bg-c-green order-card">
          <div class="card-block">
            <h1 class="m-b-20">Activités</h1>
            <!-- <h2 class="text-right">
              <i class="fa fa-rocket f-left"></i><span>486</span>
            </h2> -->  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
            <p class="m-b-0">
              <span class="f-right">Commerce</span>
              
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-xl-3">
        <div class="card bg-c-yellow order-card">
          <div class="card-block">
            <h1 class="m-b-20">Langue</h1>
            <h2 class="text-right">
              <i class="fa fa-refresh f-left"></i><span></span>
            </h2>
            <p class="m-b-0">
       <span class="f-right">Bambara</span>
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-xl-3">
        <div class="card bg-c-pink order-card">
          <div class="card-block">
            <h1 class="m-b-20">Populations</h1>
            <h2 class="text-right">
              <i class="fa fa-credit-card f-left"></i><span></span>
             
            </h2>
            <p class="m-b-0">
              <span class="f-right">20,86 millions (2021)</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

<div>
<app-nom-du-composant></app-nom-du-composant>
</div>

</ion-content>
